    
    
    .atwo{
    color:red;
    border:2px solid blue;
    border-radius:15px;
    padding:15px;
   }


   

div{
        color:blue;
        border:2px solid green;
        border-radius:15px;
        padding:20px;
        
    }
    
   .bone{

    color:black;
    border:2px solid yellow
   }
   .btwo{
    border:2px solid black;
   }




#four{
     color:aqua;
     border:2px solid blue;
     background-colour:yellow;

   }



  